body{
    background-color: #41444b;
}

.bg-dark{
    background-color: #222831 !important;
}

html,body {
    height: 44vh;
    max-height: 100vh;
}

/* Cards */

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 4;
  }
}

.row{
  padding: 0 8px;
}

.card{
  margin: 8px 0;
  background-color: #ffdf7d;
}

.card-body{
  padding: 0;
}

.card a{
  padding-right: 10px;
}

textarea{  
  background-color: #ffdf7d;
  display: block;
  overflow: hidden;
  resize: none;
  padding: 0px 10px;
  margin: 10px auto;
  border: 0;
  width: 90%;
  outline: none;
}

button{
  margin: 0px 8px;
}


