body{
    background-color: #41444b;
}

.bg-dark{
    background-color: #222831 !important;
}

html,body {
    height: 44vh;
    max-height: 100vh;
}

/* Cards */
@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 4;
  }
}

.card{
  margin: 8px 0;
  background-color: #ffdf7d;
}

.card-header{
  padding: 0 4px;
}

.card-title{
  margin: 0;
  width: 100%;
}

.card-body{
  padding: 0;
}

.card a{
  padding-right: 10px;
}

textarea{
  border: 0;
  width: 90%;
  outline: none;
  display: block;
  overflow: hidden;
  resize: none;
}

.text-area-body{  
  background-color: #ffdf7d;
  padding: 0 10px;
  margin: 10px auto;
}

.text-area-header{
  padding: 0;
  background-color: transparent;
  margin: auto;
  width: 100%;
}

button{
  margin: 0px 8px;
}